#divHome {
  background-image: url("https://imgr.cineserie.com/2020/05/top-des-meilleurs-episodes-de-naruto-shippuden.jpg?imgeng=/f_jpg/cmpr_0/w_660/h_370/m_cropbox&ver=1");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
